/*
 * Empty Stylesheet file. 
 * http://code.makery.ch/java/javafx-2-tutorial-part4/
 * http://docs.oracle.com/cd/E17802_01/javafx/javafx/1.3/docs/api/javafx.scene/doc-files/cssref.html
 * http://fxexperience.com/downloads/ScenicView-1.3.0.zip
 * http://docs.oracle.com/javafx/2/css_tutorial/jfxpub-css_tutorial.htm
 * http://docs.oracle.com/javafx/2/api/
 */

#login_error {
    -fx-background-color: #dddddd;
    -fx-text-fill:  #f43c23;
}

.hyperlink {
    -fx-text-fill:#34913a;
}
.hyperlink:visited {
    -fx-text-fill:#34913a;
}

.mainFxmlClass {
    -fx-background-color: #cccccc;
}

